/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_11_2025_22_07_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_11_2025_22_07_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_23_11_2025_13_31_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_23_11_2025_13_31_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_11_2025_17_27_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_11_2025_22_07__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_11_2025_22_07__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_23_11_2025_13_31__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_11_2025_17_27__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
